html,
body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

body {
  color: #000;
  background-color: aquamarine;
  text-align: center;
  white-space: nowrap;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  width: min(30vw, 280px);
  height: min(30vw, 280px);

  display: grid;
  place-items: center;

  color: #000;
  background-color: floralwhite;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: min(10vw, 80px);
}

div.spacer {
  height: min(20vw, 180px);
}

.noto-serif-jp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: min(2.75vw, 32px);
  letter-spacing: 0.125em;
}

.is-small {
  font-size: min(2.5vw, 24px);
}

.is-normal {
  font-size: min(2.75vw, 32px);
}

.is-medium {
  font-size: min(5vw, 56px);
}

.is-large {
  font-size: min(10vw, 96px);
}

.is-huge {
  font-size: min(20vw, 160px);
}
